<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer>
		<aspNetCore>
			<environmentVariables xdt:Transform="Insert">
				<environmentVariable name="DOTNET_CLI_TELEMETRY_OPTOUT" value="1" />
			</environmentVariables>
		</aspNetCore>
		<staticContent>
			<!--Cache static content for 7 days  -->
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" xdt:Transform="Insert" />
		</staticContent>
		<rewrite>
			<!--Add strict transport security-->
			<outboundRules xdt:Transform="Insert">
				<rule name="HSTS_SUPPORT" enabled="true" >
					<match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="on" ignoreCase="true" />
					</conditions>
					<action type="Rewrite" value="max-age=31536000" />
				</rule>
			</outboundRules>
		</rewrite>
		<handlers>
			<!--We will serve up all static files directly through IIS instead of kestrel since IIS should be faster at processing those. Since 
			we wont be going to kestrel for static files will add the options handler for static files too-->
			<add name="OPTIONSHandler" path="*.*" verb="OPTIONS" modules="ProtocolSupportModule" scriptProcessor=""
				 resourceType="Unspecified" requireAccess="None" allowPathInfo="false" preCondition="" responseBufferLimit="4194304"
			     xdt:Transform="InsertBefore(/configuration/system.webServer/handlers/add[@name='ASPClassic'])"/>
			<add name="staticFiles" path="*.*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read"
				 xdt:Transform="InsertBefore(/configuration/system.webServer/handlers/add[@name='aspNetCore'])" />
		</handlers>
		<modules>
			<!--NATIVE MODULES NOT REQUIRED - Only included in Release builds not run though IIS Express -->
			<remove name="WebSocketModule"  xdt:Transform="Insert"/>
			<remove name="WindowsAuthenticationModule" xdt:Transform="Insert" />
			<remove name="UrlRoutingModule-4.0" xdt:Transform="Insert" />
			<remove name="UrlAuthorizationModule" xdt:Transform="Insert"/>
			<remove name="ServerSideIncludeModule" xdt:Transform="Insert" />
			<remove name="IsapiFilterModule" xdt:Transform="Insert"/>
			<remove name="IpRestrictionModule" xdt:Transform="Insert"/>
			<remove name="IISCertificateMappingAuthenticationModule" xdt:Transform="Insert" />
			<remove name="HttpRedirectionModule" xdt:Transform="Insert" />
			<remove name="FormsAuthentication" xdt:Transform="Insert"/>
			<remove name="FileAuthorization" xdt:Transform="Insert"/>
			<remove name="FastCgiModule" xdt:Transform="Insert"/>
			<remove name="FailedRequestsTracingModule" xdt:Transform="Insert"/>
			<remove name="DynamicIpRestrictionModule" xdt:Transform="Insert"/>
			<remove name="DigestAuthenticationModule" xdt:Transform="Insert"/>
			<remove name="DefaultAuthentication" xdt:Transform="Insert"/>
			<remove name="CustomLoggingModule" xdt:Transform="Insert"/>
			<remove name="CgiModule" xdt:Transform="Insert"/>
			<remove name="CertificateMappingAuthenticationModule" xdt:Transform="Insert"/>
			<remove name="BasicAuthenticationModule" xdt:Transform="Insert"/>
			<remove name="ApplicationInitializationModule" xdt:Transform="Insert"/>
			<remove name="DefaultDocumentModule" xdt:Transform="Insert"/>
			<remove name="DirectoryListingModule" xdt:Transform="Insert"/>
			<remove name="HttpCacheModule" xdt:Transform="Insert"/>
			<remove name="HttpLoggingModule" xdt:Transform="Insert"/>
		</modules>
	</system.webServer>
</configuration>
