<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<!--Ensure that the following mime type are supported by the IIS Host-->
			<remove fileExtension=".json"/>
			<remove fileExtension=".woff"/>
			<remove fileExtension=".svg"/>
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".woff" mimeType="font/x-woff" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
		<rewrite>
			<rules configSource="UrlRewrite\rewriterules.config" />
			<rewriteMaps configSource="UrlRewrite\rewritemaps.config" />
		</rewrite>
		<handlers>
			<clear/>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
		</handlers>
		<modules>
			<!--MANAGED MODULES NOT REQUIRED-->
			<remove name="WindowsAuthentication" />
			<remove name="UrlAuthorization" />
			<remove name="UrlMappingsModule" />
			<remove name="Session" />
			<remove name="ServiceModel-4.0" />
			<remove name="ServiceModel" />
			<remove name="ScriptModule-4.0" />
			<remove name="Profile" />
			<remove name="RoleManager" />
			<remove name="OutputCache" />
			<remove name="AnonymousIdentification" />
		</modules>
		<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />
	</system.webServer>
</configuration>