<rules>
    <rule name="ForceHttps" stopProcessing="true">
        <match url="(.*)" />
        <conditions>
            <add input="{HTTPS}" pattern="off" />
        </conditions>
        <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
    </rule>
    <rule name="Forcewww" stopProcessing="true">
        <match url="(.*)" />
        <conditions>
            <add input="{HTTP_HOST}" pattern="^(?:new\.)?(gamefly\.com)$" />
        </conditions>
        <action type="Redirect" redirectType="Permanent" url="https://www.{C:1}/{R:1}" />
    </rule>
    <rule name="BadBotBlocker" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_USER_AGENT}" pattern="^.*semalt" />
            <add input="{HTTP_REFERER}" pattern="semalt\.com" />
            <add input="{HTTP_REFERER}" pattern="regflow\.com" />
            <add input="{HTTP_REFERER}" pattern="trkur\.com" />
        </conditions>
        <action type="CustomResponse" statusCode="403" />
    </rule>
    <rule name="ContentToWwwRoot">
        <!-- This rule doesnt do anything by default for standard dev builds. 
		However there is a rule in the Release config that will replace this 
		with a rule that will map static content to the wwwroot so it can be processed
		by the static file handler. This rule has no action for  dev builds to allow devs to use other development
		tools such as angular cli for	serving site content. see web.release.config-->
        <match url="(.*)" />
        <action type="None" />
    </rule>
</rules>
