<rules>
	<rule name="ForceHttps" stopProcessing="true">
		<match url="(.*)" />
		<conditions>
			<add input="{HTTPS}" pattern="off" />
		</conditions>
		<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
	</rule>
	<rule name="Forcewww" stopProcessing="true">
		<match url="(.*)" />
		<conditions>
			<add input="{HTTP_HOST}" pattern="^(?:new\.)?(gamefly\.com)$" />
		</conditions>
		<action type="Redirect" redirectType="Permanent" url="http://www.{C:1}/{R:1}" />
	</rule>
</rules>