<?xml version="1.0"?>
<rules xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <rule name="ContentToWwwRoot"  xdt:Locator="Match(name)" xdt:Transform="Replace">
        <!--This maps all content requests into www root directory for the static file handler to take care of. this will be faster than 
	    going into kestrel just to retrieve the file. If there are any file extensions that need to go into kestrel then 
	    this rule will need to be modified. This rule is not in place for dev builds to allow devs to use other development tools such as angular cli for
	    serving site content.-->
        <match url="^(.*\.\w+[^\\.])$" />
        <action type="Rewrite" url="wwwroot/{R:1}" />
    </rule>
</rules>
